<head>
<title>Exercise 3 ID : 583040400-4</title>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery-1.5.js"></script>
<script type="text/javascript">
            function GetXmlHttpObject(){
                var xmlHttp=null;
                try {
                    // Firefox, Opera 8.0+, Safari
                    xmlHttp=new XMLHttpRequest();
                } catch (e) {
                    // Internet Explorer
                    try {
                        xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                }
                return xmlHttp;
            }
            function getPage (url) {
                xhr = GetXmlHttpObject();
                if (!xhr) {
                    alert ('XMLHttp failed to instantiate');
                    return false;
                }
                xhr.onreadystatechange = statusCheck; 
                xhr.open ('GET', url, true); 
                xhr.send (null);
            }
            
            var xhr = false;

            function statusCheck() {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        var jsonT = xhr.responseText;
                        var obj = jQuery.parseJSON(jsonT);
                        var activities = obj.activities;
                        j = 1;
                        for (i = 0; i < activities.length; i++) {																													
                                    document.getElementById("demo").innerHTML+= '<li><span style="color:blue;"><a href="'  + activities[i].url + '">' + activities[i].title + '</a>' + '<image src="' + activities[i].image + '"' + 'alt="รูปactivities[i].title" ' + 'height="20%" ' + 'width="20%">' + "<br>" + "เบอร์โทร :"+ activities[i].contact.phone +'</span></li>';
                        }
                    }
                }
            }
        getPage('https://fb.kku.ac.th/pittawat17-xml/lab8/activities.json');
        </script>
    </head>
    <body>
		<ol id="demo"></ol>
    </body> 
</html>     